<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyHW.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.AdventureWorks2019ConnectionString"
            connectionString="Data Source=.;Initial Catalog=AdventureWorks2019;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.MyTripConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\ADO.NET\ihtgshain\MYHW\MyHW\MyTrip.mdf;Integrated Security=True" />
        <add name="MyHW.Properties.Settings.MyTripConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\ADO.NET\ihtgshain\MYHW\MyHW\MyTrip.mdf;Integrated Security=True" />
        <add name="MyHW.Properties.Settings.MyTripForHWConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\MyTripForHW.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.TheirTripConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\TheirTrip.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyHW.Properties.Settings.MyAlbumConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyAlbum.mdf;Integrated Security=True" />
        <add name="MyHW.Properties.Settings.MyAlbumConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyAlbum.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>